.fundoLogin {
    background-image: url(https://i.imgur.com/4T1qo3x.png);
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
  }